---
---

<button
  type="button"
  id="brochure-trigger"
  class="btn-outline w-full justify-center mt-3"
  onclick="window.dispatchEvent(new CustomEvent('sigl:open-lead-capture', { detail: { tier: 'cold', trigger: 'brochure_request' } }))"
>
  Request Info Pack
</button>

